<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div class="top-container">
    <h2 class="page-title"><span class="orange">Car</span>Ket</h2>
    <div class="buttons">
        <a href="/salepage"><i class="fa-solid fa-money-bill" style="color: rgb(234, 123, 16);"></i></a>
        <a href="/searchpage"> <i class="fa-solid fa-magnifying-glass" style="color: rgb(234, 123, 16);"></i></a>
        <a href="/ownads"><i class="fa-solid fa-user" style="color: rgb(234, 123, 16);"></i></a>
    </div>
</div>
<h2 class="hero-title">Search for your <span class="orange">next car.</span></h2>
<form class="custom-form" th:action="@{/resultspage}" th:method="get">
    <label class="custom-label" >Brand</label>
    <input class="custom-input" type= "text" name="brand" id="carBrand">
    <label class="custom-label">Model</label>
    <input class="custom-input" type= "text" name="model" id="carModel">
    <label class="custom-label">Chassis</label>
    <select class="custom-input" name="chassis" id="carChassis">
        <option value="" disabled selected>Select chassis type</option>
        <option value="sedan">Sedan</option>
        <option value="suv">SUV</option>
        <option value="hatchback">Hatchback</option>
        <option value="coupe">Coupe</option>
        <option value="convertible">Convertible</option>
        <option value="wagon">Station Wagon</option>
        <option value="pickup">Pickup Truck</option>
        <option value="van">Van / Minivan</option>
    </select>
    <button class="custom-button" type="submit">Search</button>
</form>
</body>

</html>