<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register - CarKet</title>
</head>
<body>
<h2>Create your CarKet Account</h2>

<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<form th:action="@{/register}" method="post">
    <input type="text" name="firstName" placeholder="First Name" required><br>
    <input type="text" name="lastName" placeholder="Last Name" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <button type="submit">Register</button>
</form>

<p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>