* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #c69884 0%, #464655 100%);
  color: white;
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #cc6a0e;
}